<%= stylesheet_link_tag 'user_request_form' %>
<%= javascript_include_tag 'user_request_form' %>

<div id="form_wrapper"> 
  <div id="main" class="usages first_page"> 
    <%= render 'title_and_sideinfo', :page_number => 'first' %>
    <%= form_tag(choose_usages_path, :class => 'tabbed') do %>
      <% @super_usages.each do |su|  %>
        <%= content_tag :div, :id=>"super_usage_#{su.super_usage_id}", :class => 'question' do%>
          <span class="qicon"></span>
          <div class="qbody">
            <div class="qname">
              <h2 class="usageTitle"><%=t_safe "super_usage_title_#{su.id}"%></h2>
            </div>
            <div class="qdesc">
              <h3 class="usageSubQuestion"><%=t_safe "super_usage_question_#{su.id}"%></h3>
              <p class="usageExplain"><%=t :form_first_step_hint %></p>
            </div>
            <div class="qinfo">
              <%= t_safe "form_first_step_sideinfo_super_usage_#{su.id}" %>
            </div>
            <div class="answer multichoice">
              <% su.usages.each do |u|  %>
                <label>
                  <% @selected_usages.include?(u.usage_id) ? checked=true : checked=false  %>
                  <%= check_box_tag "usage_#{u.usage_id}", 1, checked %>
                  <%= content_tag :span, t_safe("usage_title_#{u.usage_id}"), :class => "name usage_name usage_name_#{u.usage_id}"%>
                  <span class="desc"><%=t_safe "usage_description_#{u.usage_id}"%></span>
                </label>
              <% end  %>
            </div>
          </div>
        <% end  %>
      <% end  %>
      <div class="clearfix"></div>
      <div class="actions">
        <%= submit_tag t(:form_next_button_label), :class => "next-button", :id => "next-button" %>
      </div>
    <% end  %>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>
