<%= stylesheet_link_tag 'user_request_form' %>
<%= javascript_include_tag 'user_request_form' %>

<div id="form_wrapper"> 

  <div id="main" class="usages"> 
    <h1><%= t_safe  "selection_step_title"%></h1>
    <p class="explain usageSubtitle"><%= t_safe "selection_step_subtitle" %></p>
    <div class="sideinfo" id="myFormInfoContainer">
      <%= t_safe "selection_step_sideinfo" %>
    </div>
    <%= form_tag('user_requests', :class => 'tabbed') do%>
      <% @super_usages.each do |su|  %>
        <%= content_tag :div, :id=>"super_usage_#{su.id}", :class => 'question' do%>
          <span class="qicon"></span>
          <div class="qbody">
            <div class="qname"><h2 class="usageTitle"><%=t_safe "super_usage_title_#{su.id}"%></h2></div>
            <div class="qdesc">
              <h3 class="usageSubQuestion"><%=t_safe "super_usage_question_#{su.id}"%></h3>
              <p class="usageExplain"><%=t :selection_step_hint %></p>
            </div>
            <div class="qinfo">
              <%= t_safe "selection_step_sideinfo_super_usage_#{su.id}" %>
            </div>
            <div class="answer multichoice">
              <% su.usages.each do |u|  %>
                <label>
                  <%= check_box_tag "usage_#{u.id}", 1, false %>
                  <span class="name"><%=t_safe "usage_title_#{u.id}"%></span>
                  <span class="desc"><%=t_safe "usage_description_#{u.id}"%></span>
                </label>
              <% end  %>
            </div>
          </div>
        <% end  %>
      <% end  %>
      <div class="clearfix"></div>
      <div class="actions">

        <input class="next-button" id="user_request_submit" name="commit" type="submit" value="Suivant">

      </div>
    <% end  %>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>
