<%= stylesheet_link_tag 'user_request_form' %>
<%= javascript_include_tag 'user_request_form' %>

<div id="form_wrapper"> 
  <div id="main" class="usages third_page"> 
    <%= render 'title_and_sideinfo', :page_number => 'third' %>
    <%= form_tag(:root) do %>
      <% @mobility_choices.each do |mobility_id, weight|  %>
        <%= content_tag :div, :id=>"mobility_#{mobility_id}", :class => 'question' do%>
          <span class="qicon"></span> 
          <div class="qbody">

            <div class="qname">
              <h2 class="usageTitle"><%=t_safe "mobility_title_#{mobility_id}"%></h2>
              <p class="weightExplain"><%= t_safe "form_third_step_question_mobility_#{mobility_id}" %></p>
            </div>

            <div class="answer">
              <select class="slider nosnap" name='<%= "mobility_weight_#{mobility_id}" %>' id='<%= "mobility_weight_#{mobility_id}" %>' >
                <option value="0"><%= t :form_second_step_not_important %></option>
                <option value=""></option>
                <option value="<%= weight %>" selected="selected"></option>
                <option value=""></option>
                <option value="100"><%= t :form_second_step_very_important %></option>
              </select>
            </div>
          </div>
        <% end  %>
      <% end  %>
      <div class="clearfix"></div>
      <div class="actions">
        <%= link_to t(:form_back_button_label), form_second_step_path, :class => "prev-button" %>
        <%= submit_tag t(:form_next_button_label), :class => "next-button", :id => "next-button" %>
      </div>
      <% end %>
    <div class="clearfix"></div>
  </div>
</div>
<div class="clearfix"></div>
